{% extends "layout.html" %}
{% block content %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
  <div class="alert alert-info">
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  </div>
  {% endif %}
{% endwith %}

<h1>Systems</h1>

<p>The following systems are known:</p>

{% if minions %}
  <table class="table table-stripped">
    <tr>
      <th>System</th>
      <th>OS</th>
      <th>Kernel</th>
    </tr>
    {% for minion, data in minions.iteritems() %}
    <tr>
      <td><a href="/minions/{{ minion }}">{{ minion }}</a></td>
      <td>{{ data['osfullname'] }}</td>
      <td>{{ data['kernelrelease'] }}</td>
    </tr>
    {% endfor %}
  </table>
{% endif %}

{% endblock %}
