<!doctype html>
<html>
  <head>
    {% block head %}
    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/font-awesome.min.css')}}" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>

    <script src="{{url_for('static', filename='js/react-0.11.1.js')}}"></script>
    <script src="{{url_for('static', filename='js/JSXTransformer-0.11.1.js')}}"></script>

    <script type="text/jsx" src="{{url_for('static', filename='js/app.js')}}"></script>
    {% block customhead %}
    {% endblock %}
    {% endblock %}
    <title>{% block title %}{% endblock %} - My Webpage</title>

  </head>
  <body>

    <nav class="navbar navbar-inverse navbar-default navbar-static-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">MiniManager</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout">Logout</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">

        <aside class="col-lg-2 col-md-3 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Overview</a></li>
            <li><a href="{{ url_for('minions') }}">Systems</a></li>
          </ul>
        </aside>

        <article class="col-lg-10 col-md-9 main">

          {% with messages = get_flashed_messages() %}
          {% if messages %}
          <div class="alert alert-info">
            <ul class=flashes>
              {% for message in messages %}
              <li>{{ message }}</li>
              {% endfor %}
            </ul>
          </div>
          {% endif %}
          {% endwith %}


          {% block content %}{% endblock %}
        </article>
      </div>
    </div>


  </body>
</html>
