{% extends "layout.html" %}

{% block customhead %}
<script type="text/jsx" src="{{url_for('static', filename='js/minion.js')}}"></script>
<script type="text/jsx" src="{{url_for('static', filename='js/Chart.min.js')}}"></script>
{% endblock %}

{% block content %}

<ul class="nav nav-pills">
  <li class="active"><a id="minion-details-tab" href="#">Details</a></li>
  <li><a id="minion-software-tab" href="#">Software</a></li>
</ul>

<p></p>

<div id="minion-content" data-minion-id="{{id}}">
</div>

{% endblock %}
